body{
    background-color: rgb(2, 79, 47);
}

*{
    margin: 0;
    padding: 0;
    font-family: 'Rubik', sans-serif;
    box-sizing: border-box;
}


.pieza {
    border: 1px solid #e0e0e0;
    width: 70px;
    height: 70px;
    margin-left: 15px;
    margin-right: 15px;
}

.pieza[value="x"] {
    color: #ffffff;
    background-image: linear-gradient(to left, rgb(215, 35, 215), rgb(129, 10, 129), rgb(61, 1, 61)) ;
}

.pieza[value="o"] {
    color: #ffffff;
    background-image: linear-gradient(to left, rgb(215, 211, 85), rgb(168, 168, 15), rgb(129, 133, 3));
}

.ganador {
    border: 1px solid #e0e0e02a;
    width: 70px;
    height: 70px;
    margin-left: 15px;
    margin-right: 15px;
}

.ganador[value="x"] {
    color: #ffffff;
    background-color: #4caf50;
}

.ganador[value="o"] {
    color: #ffffff;
    background-color: #9c27b0;
}

.panel{
    background-color: rgba(255, 255, 255, 0.099);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
}

